.about-me-div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.headshot {
    width: 500px;
}

.about-me-text-div {
    padding: 90px;
}

.technologies-div {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    align-content: space-between;
    height: 400px;
}

.devicon {
    font-size: 70px;
    margin-right: 40px;
}
